@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.Logo {
  display: flex;
  align-items: center; 
  gap: 8px;    
  margin-left: 90px;    
  margin-top: 20px;     
}
*{
    font-family: "ubuntu";
}
.Logo img {
  height: 40px;        
}
body {
  margin: 0;
  background: #f9f7f1; 
  font-family: sans-serif;
}

.CenterBox {
  background: #edb3ca;
  padding: 30px 40px;
  border-radius: 12px;
  min-width: 300px;
  text-align: center;
}
.Centre-div {
  width: 100%;
  text-align: center;   
  margin-top: 80px;     
  font-size: 250%;
  font-weight: 500;
}
.DIV {
    color: #342b2d;
}
.blogging-text {
  color:  rgb(162, 74, 177)   /* example color */  
}
.tagline {
  font-size: 14px; 
  color: #555;
  margin-top: 20px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.BlogForm {
  margin: 40px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.BlogForm input,
.BlogForm textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Ubuntu', sans-serif;
}

.btn button{
  padding: 10px;
  background-color: #a24ab1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover {
  background-color: #8c3994;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs-list {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.blog-post {
  background: white;
  border: 2px solid #a24ab1;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blogs-list p {
  grid-column: 1 / -1;
  text-align: center;       
  font-size: 18px;
  color: #666;
  padding: 40px 0;
}
.blog-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.blog-actions button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.blog-actions img {
  width: 22px;
  height: 22px;
}
.blog-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 6px;
}
.blog-actions button:hover {
  background: rgba(0,0,0,0.1);
}
